body{
  margin: 0;
  background-color: rgb(158, 200, 237);
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-line{
  color: rgb(158, 8, 233);
  font-size: 50px;
  margin: 15px;
}
.intro-container{
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.love-percent-img-1{
  border: 2px solid black;
  height: 232px;
  margin-right: 40px;
}
.input-box{
  font-size: 20px;
  width: 400px;
  height: 30px;
  border: none;
  vertical-align: middle;
}
.ig{
  background-color: rgb(249, 191, 191);
}
.icon{
  width: 60px;
  mix-blend-mode: multiply;
  vertical-align: middle;
}
.submit-button{
  font-size: 25px;
  padding: 5px 20px; 
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.submit-button:hover{
  background-color: antiquewhite;
  color: rgb(117, 40, 40);
}
.about{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  background-color: rgb(185, 185, 243);
  padding-bottom: 30px;
}

.logo{
  width: 40px;
  mix-blend-mode: multiply;
  vertical-align: middle;
}
.git-logo{
  width: 33px;
  margin-left: 4px;
  vertical-align: middle;
}

a{
  text-decoration: none;
  vertical-align: middle;
}
